@import 'setup';
@import 'utils';

@font-face {
    font-family: "Avenir Next Variable";
    src: url("./AvenirNext_Variable.ttf") format("truetype");
}

*{
    font-family: "Avenir Next Variable";
    color: $black;
    font-size: 62.5%;
    font-variation-settings: 'wght' 70.164, 'wdth' 100.6799;
}

html body{
    //overflow: hidden;
    background: $neutral;
}

//-----------
//Typography
//-----------

h1{
    @include font(70, 100 ,100);
}

h2{
    @include font(40, 80 ,100);
}

h3{
    @include font(30, 80 ,100);
    margin: 0;
}

h4{
    @include font(25, 80 ,100);
    margin: 0;
}

p{
    @include font(20, 80 ,100);
}

//--------
//Button
//--------
.btn{
    @include font(20, 80 ,100);
    border: none;
    padding: 1rem 2rem;
}

.primary{
    background: $watermelon;
    color: $white;
}

.secondary{
    background: darken($sky, 10%);
    color: $white;
}

.delete{
    height: 35px;
    width: 35px;
    position: absolute;
    background: transparent;
    span{
        position: relative;
        font-size: 2rem;
    }
    .fa-times{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        path{
            color: $watermelon;
        }
    }
}
//------
//Input
//------
input[type=text]{
    font-size: 2rem;
    padding: 0.5rem 1rem;
    display: block;
    margin: 1rem 1rem 1rem 0;
}

.formBg{
    background-color: $sky;
    padding: 4rem;
    box-shadow: 0 14px 28px $transparentBlack, 0 10px 10px $transparentBlack;
}



//-------
//Layout
//-------
.wrapper{
    width: 70%;
    margin: 0 auto;
    position: relative;
    @media only screen and (max-width: 900px) {
        width: 90%;
    }
}

// .grid{
//     @include grid ($grid-col-3);
//     @media only screen and (max-width: 700px) {
//         @include grid($grid-col-1);
//     }
// }

.flex{
    @include flex('row');
}

.relative{
    position: relative;
}

ul{
    padding-left: 0;

    @include grid($grid-col-5);
    @media only screen and (max-width: 1950px) {
        @include grid($grid-col-4);
    }
    @media only screen and (max-width: 1570px) {
        @include grid($grid-col-3);
    }
    @media only screen and (max-width: 1190px) {
        @include grid($grid-col-2);
    }
    @media only screen and (max-width: 620px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
//----
//App
//----

.hero{
    padding: 1px;
    height: 40vh;
    min-height: 300px;
    background: url(coffee.jpg) no-repeat fixed;
    background-position-x: center;
    background-position-y: -263px;
    background-size: cover;
    display: flex;
    flex-flow: column wrap; 
    justify-content: center;
    text-align: right;
}

.deckListContainer{
    padding-top: 200px;
    z-index: 1;
    background: #EFEFEF;
    width: 100%;
    min-height: 40vh;
}

//----------
//input form
//----------
.createDeckFormParent{
  position: relative;
  z-index:1
}

.createDeckForm {
  margin-top: -100px;
  max-height: 290px;
  position: absolute;
  width: 324px;

    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        width: 324px;
        height: 270px;
        background: #A9A9A9;
        z-index: -1;
        transform: rotate(0deg);
        transition: all 0.5s ease-in-out;
    }
    &:hover::before, 
    &:focus::before {
        content: "";
        top: -13px;
        left: 3px;
        transform: rotate(5deg);
        box-shadow: 0 14px 28px rgba(58, 58, 58, 0.2), 0 10px 10px rgba(58, 58, 58, 0.2);
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        width: 324px;
        height: 270px;
        background: #EFEFEF;
        z-index: -1;
        transition: all 0.5s ease-in-out;
    }
    &:hover::after, &:focus::after {
        content: "";
        top: -8px;
        left: -1px;
        transform: rotate(3deg);
        box-shadow: 0 14px 28px rgba(58, 58, 58, 0.2), 0 10px 10px rgba(58, 58, 58, 0.2);
    }
}
  

//----------------
//Single Card flip 
//----------------

.flip-container {
    perspective: 1000px;
    //container will keep perspective
    transform-style: preserve-3d;
    cursor: pointer;
    height: 300px;
    width: 250px;
    margin: 2rem auto;
}

.flipper {
	transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform-style: preserve-3d;
    position: relative;
}

	.flip-container:hover .back {
		transform: rotateY(0deg);
    }
    .flip-container:focus .back {
		transform: rotateY(0deg);
    }
    .flip-container:active .back {
		transform: rotateY(0deg);
    }
    
	.flip-container:hover .front {
	    transform: rotateY(180deg);
    }
    .flip-container:focus .front {
	    transform: rotateY(180deg);
    }
    .flip-container:active .front {
	    transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 250px;
    height: 300px;
    border-radius: 5px;
}

.front, .back {
	backface-visibility: hidden;
	transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
    text-align: center;
    padding: 20px;
    background: $white;
    //background: url(paper.jpg);
    box-shadow: 0 14px 28px $transparentBlack, 0 10px 10px $transparentBlack;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(-180deg);
}

